body {
    background-color: #E9E9ED;
    font-family: 'Segoe UI', sans-serif;
}
.navbar {
    background-color: #212811;
}
.navbar-brand {
    color: #768D3E;
    font-weight: bold;
}
.navbar-toggler {
    border-color: #768D3E;
}
.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('../Images/serre.png') center/cover no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.hero h1 {
    font-size: 3rem;
    color: #ffffff;
}
.hero p {
    font-size: 1.3rem;
    color: #cccccc;
}
.btn-eclosia {
    background-color: #768D3E;
    color: white;
    border: none;
    margin-top: 20px;
}
.btn-eclosia:hover {
    background-color: #5f722f;
}
.section {
    padding: 4rem 2rem;
}
.deuxieme{
    background-color: #212811;
}
.feature-card {
    background-color: #212811;
    border: 1px solid #768D3E;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    color: white;
    transition: transform 0.3s;
}
.feature-card:hover {
    transform: translateY(-5px);
}
footer {
    background-color: #212529;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #aaa;
}