body, html {
    height: 100vh;
    margin: 0;
}

.left-side {
    position: relative;
    background-image: url('../Images/serre.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-left: 0 !important;
    z-index: 0;
}

.left-side::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* noir transparent à 50% */
    z-index: -1; /* derrière le contenu */
}

.left-side h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.left-side p{
    padding-left: 5%;
}

.left-side button{
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
    background-color: #82CF11;
    color: #ffff;
    font-weight: bolder;
    border: none;
}

.left-side button:hover{
    background-color: #212811;
    color: #a9ca59;
}

.no-style-link {
    text-decoration: none;
    color: inherit;
}


.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}
.login-form {
    width: 100%;
    max-width: 400px;
}
.right-side h2{
    text-align: center;
    align-items: center;
    color: #82CF11;
    font-weight: bolder;
}
.right-side input{
    background-color: #EEEEF1;
    border: none;
    padding: 15px 40px 15px 10px;
}
.right-side input::placeholder {
    color: #A8A8A8;
    opacity: 1;
    font-size: 16px;
}

.right-side button{
    border-radius: 20px;
    padding: 10px 45px 10px 45px;
    background-color: #82CF11;
    color: #ffff;
    font-weight: bolder;
}

.right-side button:hover{
    background-color: #212811;
    color: #a9ca59;
}

.input-group-text {
    background-color: #EEEEF1 !important;
    border: none !important;
    color: #A8A8A8 !important;
}

#E9FFC9